<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ERP-AAP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Serv</display-name>
    <servlet-name>Login_Serv</servlet-name>
    <servlet-class>controller.user_mgmt.Login_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Serv</servlet-name>
    <url-pattern>/Login_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>controller.user_mgmt.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>State_Serv</display-name>
    <servlet-name>State_Serv</servlet-name>
    <servlet-class>controller.user_mgmt.State_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>State_Serv</servlet-name>
    <url-pattern>/State_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>City_Serv</display-name>
    <servlet-name>City_Serv</servlet-name>
    <servlet-class>controller.user_mgmt.City_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>City_Serv</servlet-name>
    <url-pattern>/City_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ACM</display-name>
    <servlet-name>ACM</servlet-name>
    <servlet-class>controller.user_mgmt.ACM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ACM</servlet-name>
    <url-pattern>/ACM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetail</display-name>
    <servlet-name>UserDetail</servlet-name>
    <servlet-class>controller.user_mgmt.UserDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetail</servlet-name>
    <url-pattern>/UserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServ</display-name>
    <servlet-name>DeleteServ</servlet-name>
    <servlet-class>controller.user_mgmt.DeleteServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServ</servlet-name>
    <url-pattern>/DeleteServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockServ</display-name>
    <servlet-name>BlockServ</servlet-name>
    <servlet-class>controller.user_mgmt.BlockServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockServ</servlet-name>
    <url-pattern>/BlockServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServ</display-name>
    <servlet-name>SettingServ</servlet-name>
    <servlet-class>controller.user_mgmt.SettingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServ</servlet-name>
    <url-pattern>/SettingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServ</display-name>
    <servlet-name>UpdateServ</servlet-name>
    <servlet-class>controller.user_mgmt.UpdateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServ</servlet-name>
    <url-pattern>/UpdateServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajax_Serv</display-name>
    <servlet-name>Ajax_Serv</servlet-name>
    <servlet-class>controller.sales.Ajax_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax_Serv</servlet-name>
    <url-pattern>/Ajax_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FformServ</display-name>
    <servlet-name>FformServ</servlet-name>
    <servlet-class>controller.sales.FformServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FformServ</servlet-name>
    <url-pattern>/FformServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesStuff</display-name>
    <servlet-name>SalesStuff</servlet-name>
    <servlet-class>controller.sales.SalesStuff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesStuff</servlet-name>
    <url-pattern>/SalesStuff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesUpdateServ</display-name>
    <servlet-name>SalesUpdateServ</servlet-name>
    <servlet-class>controller.sales.SalesUpdateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesUpdateServ</servlet-name>
    <url-pattern>/SalesUpdateServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumber</display-name>
    <servlet-name>PhoneNumber</servlet-name>
    <servlet-class>controller.sales.PhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumber</servlet-name>
    <url-pattern>/PhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ButtonServ</display-name>
    <servlet-name>ButtonServ</servlet-name>
    <servlet-class>controller.sales.ButtonServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ButtonServ</servlet-name>
    <url-pattern>/ButtonServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleDeleteServ</display-name>
    <servlet-name>SaleDeleteServ</servlet-name>
    <servlet-class>controller.sales.SaleDeleteServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleDeleteServ</servlet-name>
    <url-pattern>/SaleDeleteServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase_fForm</display-name>
    <servlet-name>Purchase_fForm</servlet-name>
    <servlet-class>controller.purchase.Purchase_fForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase_fForm</servlet-name>
    <url-pattern>/Purchase_fForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseStuff</display-name>
    <servlet-name>PurchaseStuff</servlet-name>
    <servlet-class>controller.purchase.PurchaseStuff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseStuff</servlet-name>
    <url-pattern>/PurchaseStuff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseUpdateServ</display-name>
    <servlet-name>PurchaseUpdateServ</servlet-name>
    <servlet-class>controller.purchase.PurchaseUpdateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseUpdateServ</servlet-name>
    <url-pattern>/PurchaseUpdateServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseAjax</display-name>
    <servlet-name>PurchaseAjax</servlet-name>
    <servlet-class>controller.purchase.PurchaseAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseAjax</servlet-name>
    <url-pattern>/PurchaseAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormSubmit</display-name>
    <servlet-name>FormSubmit</servlet-name>
    <servlet-class>controller.purchase.FormSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormSubmit</servlet-name>
    <url-pattern>/FormSubmit</url-pattern>
  </servlet-mapping>
</web-app>